{{> page-top title="Homepage"}}

<div class="container-fluid">   
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{>headline-block orientation="vertical" title-text="Lorem ipsum dolor sit." emphasised-text="Lorem ipsum." content-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste ratione atque, molestiae amet quas eos nihil magnam. Nostrum, eum!"}}
            </div>
            <div class="col-xs-12">
                {{>headline-block orientation="horizontal" title-text="Lorem ipsum dolor sit." emphasised-text="Lorem ipsum." content-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste ratione atque, molestiae amet quas eos nihil magnam. Nostrum, eum!"}}
            </div>
        </div>
    </div>
</div>

{{> page-bottom}}